@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.html {
  overscroll-behavior: none;
}

body {
  overscroll-behavior: none;
  width: 100svw;
  height: auto;
  max-height: 100svh;
  overflow-x: hidden;
}

.loading-container {
  width: 100svw;
  height: 100svh;
  background-color: #000000;
}

.sweet-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.tw-connect-wallet {
  background-color: transparent !important;
  color: white !important;
  text-transform: uppercase !important;
  font-size: 16px !important;
  padding: 0 !important;
}

.tw-connected-wallet {
  background-color: transparent !important;
  color: white !important;
  text-transform: uppercase !important;
  font-size: 12px !important;
  padding: 0;
  border: none !important;
}

@media (min-width: 768px) {
  .token-update {
    display: none;
  }

  #banner-content {
    display: block;
  }

  #feature {
    display: block;
  }
}

/* Show on smaller screens */
@media (max-width: 767px) {
  #banner-content {
    display: none;
  }

  .token-update {
    display: block;
  }

  #feature {
    display: none;
  }
}

.card {
  flex: 1 0 calc(33.33% - 20px);
  /* 3 cards displayed at once, accounting for gap */
  padding: 20px;
  box-sizing: border-box;
  /* Include padding in width */
  background-color: rgba(255, 255, 255, 0.1);
  /* Transparent background */
  color: white;
  /* Text color */
  text-align: center;
  /* Center align text */
  border: 1px solid rgba(255, 255, 255, 0.2);
  /* Optional border */
  border-radius: 10px;
  /* Rounded corners */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* Smooth transition */
  backdrop-filter: blur(10px);
  /* Glass morph effect */
  margin: 10px;
  /* Add margin to create gap between cards */
}

.slider-container {
  overflow: hidden;
  /* Hide overflow for a clean look */
  width: 100%;
  /* Set width according to your needs */
}

.slider {
  display: flex;
  /* Use flexbox for horizontal layout */
  width: 100%;
  /* Total width to accommodate all cards */
  transition: transform 0.5s ease-in-out;
  /* Smooth transition for the slider */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .card {
    flex: 1 0 100%;
    /* Each card takes full width */
    margin: 0;
    /* Remove margin for full width cards */
  }

  .slider {
    transition: transform 0.5s ease-in-out;
    /* Keep the same transition for sliding */
  }
}

.button-container {
  background-color: transparent;
  position: absolute;
  display: flex;
  gap: 5px;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -2%);
  align-items: center;
  z-index: 9999999999;
}

/* Basic modal overlay with blur effect */
.Modal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: slideUp 1s ease-in-out;
}

.modal-1-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 250px;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Modal Content */
.Modal__Content {
  background-color: transparent;
  padding: 20px;
  color: whitesmoke;
  border-radius: 8px;
  width: 650px;
  min-width: auto;
  max-width: 90%;
  max-height: 35svh;
  overflow-y: scroll; /* Cho phép cuộn dọc */
  position: relative;
  animation: slideUp 1s ease-in-out;
  /* Ẩn scrollbar */
  scrollbar-width: none; /* Firefox */
  cursor: grab; /* Khi hover vào vùng có thể cuộn */
  -ms-overflow-style: none; /* Internet Explorer */
}

.section-1 {
  margin-left: 20%;
}

/* Ẩn scrollbar trên Webkit browsers (Chrome, Safari, Edge) */
.Modal__Content::-webkit-scrollbar {
  display: none;
}

/* 
.Modal__Content.showing {
  animation: slideUp 1s ease-in-out;
}

.Modal__Content.closing {
  animation: slideUpOut 1s ease-in-out;
} */

@keyframes slideUpOut {
  from {
    transform: translateY(0);
    opacity: 1;
    display: none;
  }
  to {
    transform: translateY(40px);
    opacity: 0;
    display: none;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(40px); /* Dịch xuống 20px */
    opacity: 0; /* Bắt đầu trong suốt */
  }
  to {
    transform: translateY(0); /* Trở về vị trí ban đầu */
    opacity: 1; /* Hoàn toàn hiển thị */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Modal__Content:focus {
  outline: none; /* Removes focus-visible outline for accessibility */
}
.Modal__Content:focus-visible {
  outline: none; /* Removes focus-visible outline for accessibility */
}
/* Header styles */
.Modal__Header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Close Button */
.Modal__CloseButton {
  position: absolute;
  top: -10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 40px;
  cursor: pointer;
  color: white;
}

.Modal__CloseButton:hover {
  color: red;
}

/* Form Styles */
.Modal__Form {
  margin-top: 20px;
}

.Modal__Input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.Modal__FormButton {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Modal__FormButton:hover {
  background-color: #0056b3;
}

.Modal__SecondaryButton {
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.Modal__SecondaryButton:hover {
  background-color: #218838;
}

.modal {
  position: absolute;
  background-color: whitesmoke;
  color: black;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
}

.active {
  cursor: pointer;
}

.inactive {
  cursor: not-allowed;
}

.button-item {
  width: 60px;
  height: 20px;
  color: black;
  text-align: center;
  color: whitesmoke;
  font-weight: bolder;
  cursor: pointer;
  z-index: 99999999999;
}

.section-name {
  min-width: 150px;
  text-align: center;
  color: aquamarine;
  font-weight: bolder;
}

.input-coordinate {
  width: 60px;
  text-align: center;
  margin: 5px;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.8),
      0 0 5px rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 2px rgba(255, 255, 255, 1),
      0 0 5px rgba(255, 255, 255, 0.7);
  }
  100% {
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.8),
      0 0 5px rgba(255, 255, 255, 0.5);
  }
}

/* CSS */
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

.navbar-item {
  display: flex;
  align-items: center;
}

.toast-content {
  text-align: center;
  width: 100%;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .toast-content {
    font-size: 12px;
  }

  .section-1 {
    margin-left: 5%;
  }
  .modal-1-content {
    padding-left: 0;
    font-size: 10px !important;
  }

  .card {
    flex: 1 0 100%;
    /* Show 1 card at a time */
    width: 100svw;
    /* Each card has 100svw */
    margin: 0;
    /* Remove margin for full width */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Smooth transition */
  }

  .Modal__Content__1, .Modal__Content__2 {
    margin-top: 100px;
  }

  .Modal__Content__3,
  .Modal__Content__4 {
    margin-top: -200px !important;
    max-height: 80svh!important;
  }

  .connect-toast {
    z-index: 999999;
  }

  .slider {
    width: 100%;
    /* Adjust slider width */
    margin-left: 0;
    /* Remove negative margin for slider */
  }

}

.member-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.thumbnail {
  border-radius: 100%;
  width: 150px;
  height: 140px;
}

.Toastify__toast-container {
  bottom: 3%;
  /*width: 10svw;
  padding-left: 20px;
  padding-right: 20px;
  height: 90px;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse; */
}

.Toastify {
  position: absolute;
  z-index: 99999999;
}

.Toastify__toast {
  background: linear-gradient(50deg, #fff, #999); /* Tạo gradient */
  color: #555;
  box-shadow:
    .5px -.5px 1px 1px #fff,
    -1px 1px 1px 1px #999,
    -5px 8px 15px 1px #999;
}

@media (min-width: 769px) and (max-width: 1919px) {
  
  
}

.wallet-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.orientation-warning {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-size: 20px;
  background-color: #f0f0f0;
  color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 9999;
}

.navbar {
  position: absolute !important;
  background-color: transparent !important;
  padding: 0 !important;
}

.landingpage {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #1b1b1b;
  color: #eef8ce;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  background-size: cover;
  height: 100vh;
  /* Default height for larger screens */
}

.section {
  width: 100%;
  min-height: 100vh;
  /* Default for larger screens */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-fit {
  width: min(1200px, 90vw);
  margin: auto;
  min-height: 100svh;
  position: relative;
  padding-block: 10em;
}

header {
  padding-block: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10px;
  backdrop-filter: blur(20px);
  z-index: 99999;
  background-color: #1b1b1b11;
  background-image: repeating-linear-gradient(
    to right,
    transparent 0 500px,
    #eee1 500px 501px
  );
}

header .content-fit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: unset !important;
  padding-block: unset !important;
}

header .content-fit nav ul .landingpage-nav {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.landingpage-nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#banner .title {
  color: #d1ff48;
  font-size: 11em;
  font-family: "devil breeze";
  font-weight: bold;
  position: relative;
  text-align: center;
}

.section .decorate {
  position: absolute;
}

#intro .content-fit {
  display: flex;
  gap: 30%;
  justify-content: space-between;
  align-items: center;
}

.section .number {
  font-family: "devil breeze";
  font-size: 15em;
  font-weight: bold;
}

.section .content-fit .title {
  font-family: "devil breeze";
  font-size: 5em;
  font-weight: bold;
}

#description .content-fit {
  padding-right: 30%;
}

#description .number {
  font-size: 5em;
}

#description .title {
  font-size: 7em;
  font-weight: 500;
}

#contact .content-fit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#contact table {
  width: min(800px, 90vw);
  padding-top: 2em;
  font-size: 2em;
  margin: auto;
}

#contact table td {
  padding-block: 0.5em;
  border-bottom: 1px dashed #445022;
}

#contact table td:nth-child(1) {
  text-align: left;
  font-weight: 500;
}

#contact table td:nth-child(2) {
  text-align: right;
  font-weight: 200;
}

#contact .sign {
  font-family: "Bimbo", sans-serif;
  font-size: 10em;
}

#container3D {
  position: fixed;
  inset: 0;
  /* background-color: red; */
  z-index: 10000;
  pointer-events: pointer;
}

@media screen and (max-width: 1023px) {
  #banner .title {
    font-size: 5em;
  }

  #intro .content-fit {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .landingpage {
    height: 100svh;
    /* Set max height for mobile devices */
  }

  .section {
    min-height: 100svh;
    /* Ensure sections also respect mobile height */
  }

  #banner .title {
    font-size: 3em;
  }

  #intro .content-fit {
    flex-direction: column;
  }

  .section .number {
    font-size: 5em;
  }

  .section .content-fit .title {
    font-size: 2em;
  }

  #description .content-fit {
    padding-right: 0;
  }

  #contact table {
    font-size: 1em;
  }

  #contact .sign {
    font-size: 2em;
  }

  #container3D {
    position: absolute;
  }
}

.investment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Ensures vertical centering if necessary */
  max-width: 100vw;
  /* Full viewport width */
  padding: 20px;
  /* Add some padding for better spacing */
  box-sizing: border-box;
  /* Ensures padding is included in the width/height */
  overflow: hidden;
}

@media (max-width: 768px) {
  .investment-container {
    flex-direction: column;
    /* Stack content vertically on smaller screens */
    padding: 10px;
  }

  .Toastify__toast-container {
    bottom: 5%;
    width: 70svw;
    margin-left: 15%;
    display: inline-block;
    text-align: center;
    /* background-color: transparent;
    width: 100svw;
    height: 64px;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse; */
  }

  .item modal-1-content {
    font-size: 12px;
  }

  .thumbnail {
    height: 100px;
    width: 100px;
  }

  .member-container {
    justify-content: space-between;
  }

  .details-name, .details-title {
    font-size: 11px;
  }
}

.bg-image {
  background-image: url(./assets/kaspool.jpg);
  background-size: cover;
  /* Ensures the image covers the entire area */
  background-position: center;
  /* Centers the background image */
  background-repeat: no-repeat;
  /* Prevents the image from repeating */
}

.investment-card {
  width: 80svw;
}

.App {
  width: 100svw;
  height: 100svh;
  background-color: black;
}

@keyframes moveAndResizeMobile {
  0% {
    transform: translateX(0) scale(1);
  }

  100% {
    transform: translate(-100px, -250px) scale(0.7);
    /* Move left and resize to 70% */
    z-index: 1;
  }
}

@keyframes returnToOriginalMobile {
  0% {
    transform: translate(-100px, -250px) scale(0.7);
    /* Move left and resize to 70% */
    z-index: 1;
  }

  100% {
    transform: translateX(0) scale(1);
    /* Return to original position and size */
  }
}

@keyframes moveAndResizeDesktop {
  0% {
    transform: translateX(0) scale(1);
  }

  100% {
    transform: translateX(-500px) scale(0.7);
    /* Move left and resize to 50% */
  }
}

@keyframes returnToOriginalDesktop {
  0% {
    transform: translateX(-500px) scale(0.7);
    /* Move left and resize to 50% */
  }

  100% {
    transform: translateX(0) scale(1);
    /* Return to original position and size */
  }
}

.globeAnimation {
  animation: moveAndResize 1.5s forwards;
  /* Animation to move and resize */
}

.globeAnimation.return {
  animation: returnToOriginal 1.5s forwards;
  /* Animation to return to original */
}

a {
  transition: background-color 0.3s ease, color 0.3s ease;
  /* Add transition */
}

a:hover {
  background-color: unset !important;
}

select {
  background-color: #ffffff;
  /* Default background color for light mode */
  color: #000000;
  /* Text color for light mode */
  border: 1px solid #ccc;
  /* Border style */
  border-radius: 4px;
  /* Rounded corners */
  padding: 10px;
  /* Padding for aesthetics */
  appearance: none;
  /* Remove default arrow */
}

.custom-confirm-button {
  background-color: #2dfa41;
  /* Light blue background */
  color: white;
  /* White text */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.remove a {
  text-decoration: none;
  /* Remove underline from link */
  font-size: 1.2rem;
  /* Responsive font size */
}

.custom-cancel-button {
  background-color: orangered;
  /* Orangered background */
  color: white;
  /* White text */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.custom-confirm-button:hover {
  background-color: #2dfa41;
  /* Darker blue on hover */
}

.custom-cancel-button:hover {
  background-color: #ff4500;
  /* Darker orangered on hover */
}

/* For dark mode */
@media (prefers-color-scheme: dark) {
  select {
    background-color: #ffffff;
    /* Background color for dark mode */
    color: #000000;
    /* Text color for dark mode */
    border: 1px solid #555555;
    /* Darker border for dark mode */
  }
}

.introducing {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), 0 0 25px rgba(173, 216, 230, 0.7),
    0 0 50px rgba(173, 216, 230, 0.5);
}

.footer {
  position: absolute;
  /* Keeps the footer at the bottom of the screen */
  bottom: 0;
  /* Positions it at the bottom */
  left: 0;
  /* Aligns it to the left */
  width: 100%;
  /* Makes the footer span the full width */
  height: 100px;
  /* Sets the height of the footer */
  display: flex;
  /* Center content */
  align-items: center;
  /* Vertically centers the content */
  justify-content: center;
  /* Horizontally centers the content */
  color: white;
  /* Text color */
  font-size: 16px;
  /* Text size */
}

.roadmap1 {
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
}

.footer-icons {
  display: flex;
  /* Use flexbox for layout */
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  height: 100%;
  /* Fill the footer height */
}

.test {
  background-image: url("./assets/2222.jpg");
}

.footer-icons a {
  margin: 0 15px;
  /* Spacing between icons */
  color: white;
  /* Icon color */
  font-size: 24px;
  /* Size of the icons */
  transition: color 0.3s;
  /* Smooth color transition on hover */
}

.footer-icons a:hover {
  color: #5c3aff;
  /* Change color on hover */
}

/* Media Query for mobile devices */
@media screen and (max-width: 600px) {
  .globeAnimation {
    animation: moveAndResizeMobile 1.5s forwards;
    /* Use mobile animation */
    z-index: 9;
  }
}

@media screen and (min-width: 601px) {
  .globeAnimation {
    animation: moveAndResizeDesktop 1.5s forwards;
    /* Use desktop animation */
    z-index: 9;
  }
}

.wallet-card {
  flex: 1 1 calc(20%);
  /* 3 cards per row with gap */
  min-width: 20%;
  /* Adjust this value based on your card width */
  box-sizing: border-box;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  /* Change the color as needed */
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* For mobile screens */
@media (max-width: 768px) {
  .wallet-card {
    flex: 1 1 100%;
    /* 1 card per row */
  }

  .investment-card {
    width: 90svw;
  }

  .wallet-container {
    justify-content: center;
  }
}

* {
  scroll-behavior: smooth;
}

.wallet-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#dashboard {
  min-height: auto;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Centers horizontally */
  align-items: center;
  /* Centers vertically */
  width: 100vw;
  /* Optional: sets container width to full viewport width */
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.history-tl-container {
  color: white;
  width: 90%;
  margin: auto;
  margin-top: 50px;
  display: block;
  position: relative;
  font-size: 14x;
}

.history-tl-container ul.tl {
  color: white;
  margin: 20px 0;
  padding: 0;
  display: inline-block;
}

.history-tl-container ul.tl li {
  color: white;
  list-style: none;
  margin: auto;
  margin-left: 100px;
  min-height: 50px;
  /*background: rgba(255,255,0,0.1);*/
  border-left: 1px dashed #86d6ff;
  padding: 0 0 20px 30px;
  position: relative;
}

.history-tl-container ul.tl li:last-child {
  border-left: 0;
}

.history-tl-container ul.tl li::before {
  position: absolute;
  left: -10px;
  top: 0px;
  content: " ";
  border: 8px solid rgba(255, 255, 255, 0.74);
  border-radius: 500%;
  background: #258cc7;
  height: 20px;
  width: 20px;
  transition: all 500ms ease-in-out;
}

.history-tl-container ul.tl li:hover::before {
  border-color: #258cc7;
  transition: all 1000ms ease-in-out;
}

ul.tl li .item-title {
}

ul.tl li .item-detail {
  color: white;
  font-size: 12px;
}

ul.tl li .timestamp {
  color: #8d8d8d;
  position: absolute;
  width: 100px;
  left: -55%;
  text-align: right;
  font-size: 12px;
}
