.tree {
    overflow: hidden;
    /* display: flex; */
    flex-direction: column;
    /* Ensure the tree layout aligns vertically */
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
/* Style mặc định cho thiết bị nhỏ hơn hoặc bằng 480px */
.tree ul {
    padding-top: 20px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    transition: all 0.5s;
}

/* Style áp dụng khi thiết bị có độ rộng lớn hơn 480px */
@media (min-width: 481px) {
    .tree ul {
        display: flex; /* Thêm */
        justify-content: center; /* Căn giữa ngang */
        align-items: center; /* Căn giữa dọc nếu cần */
        transition: all 0.5s;
    }
}

.tree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    transition: all 0.5s;
}

.input-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass-button-container {
    display: flex;
    width: 80svw;
    flex-direction: column;
    margin-bottom: 20px;
    justify-items: center;
    align-items: stretch;
    justify-content: center;
}

svg.cursor-pointer {
    position: relative;
    right: 0;
    top: 0;
    z-index: 999999;
}
.glass-button {
    flex: 1;
    padding-right: 2rem; /* Add padding to avoid overlap with SVG */
    padding-left: 0.5rem;
    height: 2.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }

/* Connectors */
.tree li::before,
.tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 3px solid #ccc;
    width: 50%;
    height: 20px;
}

.tree li::after {
    right: auto;
    left: 50%;
    border-left: 3px solid #ccc;
}

/* Remove connectors for only children and adjust spacing */
.tree li:only-child::after,
.tree li:only-child::before {
    display: none;
}

.tree li:only-child {
    padding-top: 0;
}

.tree li:first-child::before,
.tree li:last-child::after {
    border: 0 none;
}

.tree li:last-child::before {
    border-right: 3px solid #ccc;
    border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
    border-radius: 5px 0 0 0;
}

.glass {
    background: rgba(255, 255, 255, 0.1);
    /* Slightly transparent background */
    backdrop-filter: blur(10px);
    /* Glass morph effect */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    /* Smooth transition */
    cursor: pointer;
    /* Change cursor to pointer on hover */
}

@media screen and (max-width: 768px) {
    .glass {
      position: relative;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      backdrop-filter: blur(5px);
      border: 1px solid #ccc;
      width: 90%;
      margin: 0 auto;
      padding-top: 10px;
      padding-bottom: 10px;
      color: white;
    }
  }

/* Glass morph effect on hover */
.glass:hover {
    background: rgba(255, 255, 255, 0.5);
    /* More visible on hover */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    /* Shadow effect */
}

.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 3px solid #ccc;
    width: 0;
    height: 20px;
}

.sponsor {
    font-size: 12px;
    font-style: italic;
    color: lightcyan;
}

.tree li a {
    border: 1px solid #ccc;
    border-radius: 20px;
    width: auto;
    height: auto;
    min-width: 140px;
    min-height: 120px;
    padding-top: 10px;
    text-decoration: none;
    color: green;
    font-weight: bold;
    font-family: arial, verdana, tahoma;
    font-size: 15px;
    display: inline-block;
    transition: all 0.5s;
    cursor: pointer;
}

ul li a {
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    cursor: pointer;
}

.glass-button {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    color: rgb(255, 255, 255) !important;
    padding: 10px 10px;
    font-size: 16px;
    width: auto;
    cursor: pointer;
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
    margin-top: 2%;
    margin-left: 5%;
    z-index: 9999;
}

.glass-button-2 {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    color: rgb(255, 255, 255) !important;
    padding: 10px 10px;
    font-size: 16px;
    width: auto;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-left: 5%;
    z-index: 9999;
}



.glass-button:hover {
    background: rgba(255, 255, 255, 0.3);
    /* Change background on hover */
    border: 1px solid rgba(255, 255, 255, 0.6);
    /* Darker border on hover */
    color: white;
    /* Change text color on hover */
}

@media (max-width: 768px) {
    .tree {
        min-width: 450px;
    }

    .tree-view-item {
        overflow-x: scroll;
        scroll-behavior: smooth;
        ;
    }

    .tree-2 {
        min-width: 1500px;
    }

    .tree-3 {
        min-width: 2800px;
    }
}