.page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  min-height: 100svh;
  width: 100svw;
  background: url(../src/assets/background/bg12.jpg) center center / cover no-repeat;
  gap: 5px;
}

.page-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  min-height: 100svh;
  width: 100svw;
  margin-top: 0 auto;
  background: url(../src/assets/background/bg12.jpg) center center / cover no-repeat;
}

.affiliate-nav {
  width: 50svw !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.page-container> :last-child {
  margin-top: auto;
  /* Đẩy phần tử cuối xuống đáy */
}

.card-blue-green {
  background: transparent;
  padding: unset;
}

.top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90svw;
}

.top-container img {
  width: 90px;
  height: 90px;
}

.wallet-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.bottom-tap-bar {
  display: flex;
  width: 90svw;
  border-radius: 50px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  z-index: 1000;
  position: relative;
  height: 60px;
  margin-bottom: 12px;
}

.tab img {
  width: 20px;
  height: 20px;
}

.tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 250, 250);
  color: white;
  gap: 5px;
  border-radius: 20px;
  margin: 0 auto;
  height: 40px;
  width: 40px;
  text-align: center;
}

.tab.expanded {
  background-color: rgb(0, 0, 0);
  animation: width-animation .45 ease-in-out forwards;

}

.das-nav {
  max-width: 35svw !important;
  width: 35svw !important;
}

.user-nav {
  width: 86svw !important;
  height: 45px !important;
  border-radius: 50px;
  padding-right: 50px;
}

.his-nav {
  width: 45svw !important;
  height: 45px !important;
  border-radius: 50px;
  padding-right: 50px;
  padding-left: 30px;
}

.user-nav-text {
  text-wrap: nowrap;
}

.text-green {
  color: green !important;
}

.status {
  padding-left: 50px;
}

.input-white {
  border: 1px solid #ccc;
  color: black !important;
  background-color: rgb(218, 213, 213);
}

.input-white:focus {
  outline: none;
}

.text-red {
  color: rgb(245, 110, 60) !important;

}

.text-yellow {
  color: yellow !important;
}



.tab.expanded .text {
  animation: smooth-animation .45s ease-in-out forwards;
  display: block;
  padding-left: 2px;
  width: auto;
}

.tab.expanded img {
  animation: color-animation .45s ease-in-out forwards;
  display: block;
  padding-right: 2px;
}

@keyframes smooth-animation {
  0% {
    transform: translateX(0);
    opacity: 0;
    width: 0;
  }

  100% {
    transform: translateX(-5px);
    width: 50px;
    margin-right: 10px;
    opacity: 1;
    display: block;
  }
}

@keyframes color-animation {
  0% {
    background-color: rgb(29, 28, 28);
  }

  100% {
    margin-left: 15px;
    background-color: transparent;

  }
}

@keyframes width-animation {
  0% {
    width: 40px;
  }

  100% {
    width: 200px;
  }
}

.card-container {
  display: flex;
  width: 90svw;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  border-radius: 10px;
}

.card-container .card-items {
  position: relative;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  width: 100%;
  padding: 10px;
}

.card-items-affiliate {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  width: 100%;
  backdrop-filter: blur(5px);
  padding: 20px;
  border-radius: 10px;
}

.affiliate-content {
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  border: 1px solid #ccc;
  width: 90%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.affiliate-content-2 {
  position: relative;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  width: 90%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}


.card-container .card-items-down {
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
  font-size: 16px;
  /* Đặt font-size lớn hơn hoặc bằng 16px */
}

.card-container .card-items .card-content {
  width: 100%;
  transition: 0.5s;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.info-details-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.info-details-item span {
  color: white;
}


.button-89,
.css-8xdgr2 {
  color: #ffffff !important;

  padding: calc(.5em + var(--s)) calc(.9em + var(--s)) !important;
  border: 1px solid #ccc !important;
  font-size: 16px !important;
  padding: 20px 50px 20px 50px !important;
  border-radius: 20px !important;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(5px) !important;
  background: rgba(255, 255, 255, 0.1) !important;
  height: 45px !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
}

.css-8xdgr2 {
  margin-top: 10px !important;
  min-width: 140px !important;
}

.button-89:hover,
.button-89:focus-visible,
.css-8xdgr2:hover,
.css-8xdgr2:focus-visible {
  --_p: 0px !important;
  outline-color: var(--color) !important;
  outline-offset: .05em !important;
  transform: scale(1.1) !important;
}

.button-89:active,
.css-8xdgr2:active {
  background: var(--color) !important;
  color: #fff !important;
}

.fadeIn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  height: 100%;
}

.card-content-transaction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
}

input {
  border-radius: 20px !important;
  padding-right: 20px !important;
}

select {
  border-radius: 20px !important;
}

.tokenBalance {
  width: 100% !important;
}

.card-content-transaction label {
  min-width: 30svw;
}

.card-container .card-items .card-content-down {
  width: 100%;
  transition: 0.5s;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  gap: 20px;
}

.card-container-internal {
  display: flex;
  width: 90svw;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  border-radius: 10px;
}

.card-container-internal .card-items {
  position: relative;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  width: 100%;
  padding: 5px 20px 5px 20px;
}

.card-container-internal .card-items .card-content {
  width: 100%;
  transition: 0.5s;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.cyptocurrency-currency {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cyptocurrency-currency-affiliate {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  line-height: 1.5;
  overflow: hidden;
}

.cyptocurrency-currency img {
  width: 30px;
  height: 30px;
}

.cyptocurrency-balance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.cyptocurrency-balance small {
  font-style: italic;
}

.icon {
  font-size: 20px;
  transition: transform 0.3s ease;
}

.text {
  display: none;
  font-size: 14px;
  opacity: 0;
  color: white;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dock {
  width: 90svw;
  border-radius: 30px;
  margin-bottom: 12px;
}

.buttons {
  background: rgba(207, 207, 207, 0.8);
  border-radius: 30px;
  display: flex;
  padding: 15px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.buttons label {
  position: relative;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: -5px 20px 15px 15px rgba(32, 32, 32, 0.5);
}


.buttons label input {
  appearance: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
  cursor: pointer;
}

.buttons label span {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: grayscale(1) brightness(0.8);
}

.user {
  background: url(/icon_menu/user_f.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  filter: grayscale(1);
}

.net {
  background: url(/icon_menu/net_f.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  filter: grayscale(1);
}

.das {
  background: url(/icon_menu/das_f.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  filter: grayscale(1);
}

.his {
  background: url(/icon_menu/his_f.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  filter: grayscale(1);
}

.down {
  background: url(/icon_menu/down_f.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  filter: grayscale(1);
}

.buttons label span::before {
  content: '';
  position: absolute;
  inset: 5px 3px;
  border-top: 1px solid #ccc;
  filter: blur(20px);
}

.buttons label img {
  position: relative;
  z-index: 10;
  width: 32px;
  height: 32px;
  filter: grayscale(1) brightness(0.8);
  border-radius: 50%;
  transition: filter 0.15s ease;
}

.buttons label input:checked~img {
  filter: grayscale(0);
  animation: scaleEffect 0.3s ease-in-out forwards;
  transition: filter 0.15s ease 0.15s;
}

.buttons label input:checked~span {
  filter: grayscale(0);
  transition: filter 0.15s ease 0.15s;
}

@keyframes scaleEffect {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1.1);
  }
}